# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.*
!.env.example

# Build output
.next
out
build
.vercel
dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store
*.pem

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
